# {{ ansible_managed }}

LIMIT_WARN="{{ shutdown_if_battery_low__limit_warn}}"
LIMIT_SHUTDOWN="{{ shutdown_if_battery_low__limit_shutdown }}"
SHUTDOWN_COMMAND="{{ shutdown_if_battery_low__shutdown_command }}"
SLEEP="{{ shutdown_if_battery_low__sleep }}"
