[Unit]
Description=Check every minute for shutdown in case of power failure and low battery level. See Ansible role ypid.shutdown_if_battery_low.

[Service]
EnvironmentFile={{ shutdown_if_battery_low_environment_filepath }}
ExecStart={{ shutdown_if_battery_low_script_filepath }} $LIMIT_WARN $LIMIT_SHUTDOWN $SHUTDOWN_DELAY

[Install]
WantedBy=multi-user.target
